# Copyright 2021-2022 VMware, Inc.
# SPDX-License-Identifier: BSD-2-Clause

name: SRP Github report POC

on:
  pull_request:
    branches: 
      - master
    types: [closed]
jobs:
  srp:
    if: github.event.pull_request.merged == true
    name: SRP Provenance report submission
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Check SRP Creds
      uses: ./.github/actions/srp-helper/check-srp-creds
      with:
        client-id: ${{ secrets.SRP_CLIENT_ID }}
        client-secret: ${{ secrets.SRP_CLIENT_SECRET }}
    - name: Install SRP
      uses: ./.github/actions/srp-helper/install
    - name: Initialize SRP
      uses: ./.github/actions/srp-helper/init
      with:
        client-id: ${{ secrets.SRP_CLIENT_ID }}
        client-secret: ${{ secrets.SRP_CLIENT_SECRET }}
    - name: Collect SRP
      uses: ./.github/actions/srp-helper/collect
      with:
        git-repos: .
    - name: Submit SRP
      uses: ./.github/actions/srp-helper/submit